html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%; /* 100% = 16px */
}

* {
  box-sizing: border-box;
}

:root {
  --black: #020a14;
  --white: #fff;
  --blue: #4392f1;
  --blutton: #6aa8f4;
  --gray: #dfe1e5;
  --gray2: #9aa0a6;
  --gray-delete: #80868b;
  --radius: 24px;
  --red: red;
}
